.ot_ti{
    background-color: white;
    padding: 15px 10px 0;
    height: 60px;
}

.ot_ti>div:nth-child(1)>p{
    font-size: 14px;
}
.ot_ti>div:nth-child(2){
    /* border: 1px red solid;*/
    height: 20px;
    margin: 15px 20px;
}
.ot_ti>div:nth-child(2)>div{
    /* border: 1px red solid;*/
    float: left;
    width: 35px;
}
.ot_ti>div:nth-child(2)>div:nth-child(2){
    margin-left: 40px;
}
.ot_ti>div:nth-child(2)>div>img{
    display: block;
    width: 15px;
    float: left;
}
.ot_ti>div:nth-child(2)>div>span{
    display: block;
    float: right;
}

.ot_answer{
    background-color: #ffffff;
    margin-top: 20px;
    padding: 30px;
}
.ot_answer>p{
    font-size: 14px;
}


ul{
    margin-top: 20px;
    background-color: #ffffff;
    height: 295px;
    padding-top: 15px;
}
ul>li{
    /*border: 1px red solid;*/

}
ul>li>div{
   /* border: 1px red solid;*/
    margin:8px 0;
    float: left;
    width: 25%;
    text-align: center;
}
ul>li>div>span{
    margin: auto;
    border: 1px #F1F0EE solid;
    display: block;
    width: 55px;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
}
ul>li .ot_select>span{
    background-color:#23c8bf ;
}



.pt_button{
    position: absolute;
    bottom: 0;
    background-color: #23c8bf;
    height: 50px;
    width: 100%;
}
.pt_button>div{
    float: left;
    width: 49%;
    height: 30px;
    text-align: center;

}
.pt_button>div:nth-child(1){
    border-right: 1px #ffffff solid;
}
.pt_button>div{
    margin-top: 10px;
}
.pt_button>div>span{
    font-size: 16px;
    line-height: 30px;
    color: white;
}