
@charset "utf-8";
.forum-lst{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
.forum-lst>ul{
	width: 100%;
	height: auto;
	margin-top: 10px;
}
.forum-lst>ul>li{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: left;
	color: #23C8BF;
	background-color: white;
	margin-top: 15px;
}
/*cyg*/
/*
.forum-lst>ul>li>span{
	margin-left: 15px;
	font-size: 1.5em;
}
*/
.forum-lst>ul>li>a>div{
	margin-left: 15px;
	font-size: 1.5em;
}
.forum-lst>ul>li>a{
	color: #23C8BF;
}
