.main_home{
	bottom: 0px;
}
body {
	background-color: white;
}
.comment-List {
	width: 90%;
	height: 99%;
	margin: 0px auto;
	overflow-x: hidden;
	overflow-y: auto;
}
.lst {
	width: 100%;
	height: auto;
}
.lst>li {
	width: 100%;
	min-height: 110px;
	height: auto;
	/*max-height: 200px;*/
	margin-top: 5px;
	border-bottom: 1px solid #C7C6C6;
}
.lst>li>span {
	width: 100%;
	float: left;
}
.lst>li>span:nth-child(1) {
	height: 35px;
}
.lst>li>span>a {
	float: left;
	color: #969696;
}
.uimg {
	height: 35px;
	width: 35px;
	border-radius: 50%;
}
.uimg>img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.uname {
	width: auto;
	height: 35px;
	line-height: 35px;
	margin: 0px 5px;
	font-size: 1.2em;
}
.lst>li>span>a.utime {
	width: auto;
	float: right;
	height: 35px;
	line-height: 35px;
	font-size: 1.2em;
	margin-right: 5px;
}
.lst>li>span.comment-value {
	height: auto;
	width: 95%;
	/*min-height: 50px;
	max-height: 90px;*/
	white-space:nowrap;
	text-overflow:ellipsis; 
	-o-text-overflow:ellipsis; 
	overflow: hidden;
	padding: 10px;
	color: #969696;
	line-height: 20px;
	font-size: 1.2em;
}
.lst>li>span.comment-Reply {
	height: 25px;
	width: 60px;
	float: right;
	margin-right: 10px;
	margin-bottom: 5px;
	border-radius: 10px;
	margin-top: 5px;
	border: 1px solid #EEB315;
	text-align: center;
	line-height: 25px;
	color: #969696;
	font-size: 1.3em;
}
.lst>li>span.h-Comments>a{
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}
