.td_content{
    margin: 20px 10px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
}
p{
    line-height: 20px;
}
.td_content span{
    font-size: 14px;
}
.td_one{
    padding: 20px 10px;
}

.td_content>div{
    /*border: 1px red solid;*/
}
.td_content>div:nth-child(1){
    height: 45;
}
.td_content>div:nth-child(1)>span{
    float: left;
    line-height: 30px;
}
.td_content>div:nth-child(1)>img{
    width: 30px;
    margin-right: 10px;
}
.td_content>div:nth-child(2)>span:nth-child(1){
    display: block;
    line-height: 30px;
}