@charset "utf-8";
.headline-list {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
.h-lst {
	width: 100%;
	height: auto;
}
.h-lst>li {
	width: 100%;
	height: 135px;
	border-bottom: 1px solid #808080;
}
.h-lst>li>span {
	float: left;
}
.h-lst>li>span.h-title {
	width: 90%;
	height: 30px;
	line-height: 30px;
	font-size: 1.5em;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	color: #111111;
	margin-left: 2%;
}
.h-lst>li>span.h-img{
	width: 95%;
	height: 70px;
}
span.h-img>img{
	width: 70px;
	height: 70px;
	margin-left: 5px;
}
.h-lst>li>span.h-Comments{
	float: right;
	margin: 10px;

}
